/* Nav Bar CSS */

::-webkit-scrollbar {
    display: none;
}
.navbar {
    position: fixed;
    padding: 30px 0;
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}

a {
    text-decoration: none;
}

.max-width {
    max-width: 1300;
    padding: 0 80px;
    margin: auto;
}

.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 600;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar .logo a:hover {
    color: crimson;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
    text-decoration: none;
}

.navbar .menu li a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar .menu li a:hover {
    color: crimson;
    text-decoration: none;
}

.drop-heading-2019 {
    position: relative;
    display: inline-block;
}

.drop-content-2019 {
    display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.drop-content-2019 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/*
.drop-content-2019 a:hover {background-color: #ddd;}

.drop-heading-2019:hover .drop-content-2019 {display: block;}
*/
.drop-heading-2020 {
    position: relative;
    display: inline-block;
}

.drop-content-2020 {
    display: none;
     position: absolute;
     background-color: #f1f1f1;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 1;
}

.drop-content-2020 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

body {
    margin: 0;
}

.drop-content-2020 a:hover {background-color: #ddd;}

.drop-heading-2020:hover .drop-content-2020 {display: block;}

/* Index CSS */

.home {
    display: flex;
    background: url("../Pictures/Home.jpg") no-repeat center;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
    font-size: 27px;
    margin-top: 0;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    margin-top: 0;
}

.home .home-content .text-3 {
    font-size: 40px;
    margin: 5px 0;
    margin-top: 0;
}

.home .home-content .text-3 span {
    color: crimson;
    font-weight: 600;
}

.home .home-content a {
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
    text-decoration: none;
}

.home .home-content a:hover {
    color: whitesmoke;
    background: none;
}

/* About Me */

.aboutmepage {
    display: flex;
    height: 100vh;
    background: url("../Pictures/aboutmemain.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutmepage .max-width {
    margin: auto 0 auto 138px;
    position: fixed;
    bottom: 20%;
    left: 8%;
}

.aboutmepage .max-width h1 {
    font-size: 150px;
    transition: all 1.5s ease;
    font-weight: bold;
}

.aboutmepage .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
}

#main-container .school {
    position: sticky;
    top: 0;
    background: url("../Pictures/black-carbon-industrial-background_79145-253.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container .school h2{
    display: flex;
    font-size: 80px;
    margin: auto 0 auto 100px;  
    color: aliceblue; 
    position: absolute;
    bottom: 45%;
    left: 10%;
    transition: all 1 ease;
}

#main-container .school span {
    font-size: 100px;
    position: absolute;
    left: 150%;
    display: flex;
}

#main-container #hobbies {
    position: sticky;
    top: 0;
    background: url("../Pictures/black-carbon-industrial-background_79145-253.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container #hobbies h2{
    display: flex;
    font-size: 80px;
    margin: auto 0 auto 100px;
    color: aliceblue;
    position: absolute;
    bottom: 45%;
    left: 10%;
    font-family: 'Architects Daughter', sans-serif;
    transition: all 1 ease;
}

#main-container #hobbies span {
    font-size: 100px;
    position: absolute;
    left: 134%;
    display: flex;
}

#main-container .school p {
    display: flex;
    position: absolute;
    bottom: 15%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 30px;
    color: aliceblue;
    margin-right: 5%;
}

#main-container #hobbies p {
    display: flex;
    position: absolute;
    bottom: 35%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 30px;
    color: aliceblue;
    margin-right: 5%;
}

#main-container #hobbies h2:hover {
    color: burlywood;
}

#main-container .school h2:hover {
    color: burlywood;
}

#main-container #quote h2 {
    display: flex;
    font-size: 40px;
    margin: auto 0 auto 0px;
    color: aliceblue;
    position: absolute;
    bottom: 30%;
    left: 10%;
    font-family: 'Architects Daughter', sans-serif;
    transition: all 1s ease;
    margin-right: 10%;
}

#main-container #quote h2:hover { 
    color: goldenrod;
}

#main-container #quote {
    position: sticky;
    top: 0;
    background: url("../Pictures/black-carbon-industrial-background_79145-253.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Reflections */

.reflectionspage {
    display: flex;
    height: 100vh;
    background: url("../Pictures/reflections-main.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.reflectionspage .max-width {
    margin: auto 0 auto 270px;
    position: fixed;
    bottom: 50%;
    left: 5%;
}

.reflectionspage .max-width h1 {
    font-size: 90px;
    transition: all 1.5s ease;
}

.reflectionspage .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
}

.reflectionspage .buttons {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin: auto 0 auto 500px;
    align-items: center;
}

.reflectionspage .buttons a {
    position: relative;
    display: inline-block;
    padding: 17px 36px;
    margin: 4px 0;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #32CD32, #ADD8E6);
    top: 120px;
    border: 4px solid #32cd32;
    transition: all 1s ease;
}

.reflectionspage .buttons a:hover {
    color: lightblue;
    background: none;
}

/* Learning Journey */

.learningjourney {
    display: flex;
    height: 100vh;
    background: url("../Pictures/learningj2020.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.learningjourney .max-width {
    margin: auto 0 auto 96px;
    position: fixed;
    bottom: 28%;
    left: 10%;
}

.learningjourney .max-width h1 {
    font-size: 90px;
    transition: all 1.5s ease;
}

.learningjourney .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background: url("../Pictures/learningjdiv.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
}


#main-container .learningp p{
    display: flex;
    position: absolute;
    bottom: 35%;
    left: 5%;
    right: 5%;
    margin: auto 0 auto 100px;
    font-size: 30px;
    color: black;
    margin-right: 5%;
    font-family: "Bebas Neue", sans-serif;
}


/* Predictions Main */

.predictions {
    display: flex;
    height: 100vh;
    background: url("../Pictures/Lightboard.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
}

.predictions .max-width {
    margin: auto 0 auto 315px;
    position: fixed;
    bottom: 45%;
    left: -8%;
}

.predictions .max-width h1 {
    font-size: 100px;
    transition: all 0.3 ease;
}

.predictions .max-width h1:hover {
    color: orangered;
}

.predictions .buttons {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    margin: auto 0 auto 570px;
    align-items: center;
}

.predictions .buttons a {
    position: relative;
    display: inline-block;
    padding: 17px 36px;
    margin: 4px 0;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg, #32CD32, #ADD8E6);
    top: 100px;
    border: 4px solid #32cd32;
    transition: all 0.3s ease;
}

.predictions .buttons a:hover {
    color: white;
    background: none;
}

/* Predictions Terms 2020 */

.term {
    display: flex;
    height: 100vh;
    background: url("../Pictures/term12020.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.term .max-width {
    margin: auto 0 auto 327px;
    position: fixed;
    bottom: 15%;
}

.term .max-width h1 {
    font-size: 160px;
    transition: all 1.5s ease;
}

.term .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
}

#main-container .maths {
    position: sticky;
    top: 0;
    background: url("../Pictures/learningjdiv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container .maths h2{
    display: flex;
    font-size: 80px;
    margin: auto 0 auto 100px;  
    color: black; 
    position: absolute;
    bottom: 45%;
    left: 10%;
    transition: all 1 ease;
}

#main-container .maths span {
    font-size: 100px;
    position: absolute;
    left: 150%;
    bottom: 0%;
    display: flex;
}

#main-container #english {
    position: sticky;
    top: 0;
    background: url("../Pictures/learningjdiv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container #english h2{
    display: flex;
    font-size: 80px;
    margin: auto 0 auto 100px;
    color: black;
    position: absolute;
    bottom: 45%;
    left: 1%;
    font-family: 'Architects Daughter', sans-serif;
    transition: all 1 ease;
}

#main-container #english span {
    font-size: 100px;
    position: absolute;
    left: 120%;
    bottom: 0%;
    display: flex;
}

#main-container .maths p {
    display: flex;
    position: absolute;
    bottom: 30%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 30px;
    color: black;
    margin-right: 5%;
}

#main-container #english p {
    display: flex;
    position: absolute;
    bottom: 28%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 30px;
    color: black;
    margin-right: 5%;
}

#main-container #english h2:hover {
    color: burlywood;
}

#main-container .maths h2:hover {
    color: burlywood;
}

#main-container #science {
    position: sticky;
    top: 0;
    background: url("../Pictures/learningjdiv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container #science h2{
    display: flex;
    font-size: 80px;
    margin: auto 0 auto 100px;  
    color: black; 
    position: absolute;
    bottom: 45%;
    left: 100%;
    transition: all 1 ease;
}

#main-container #science span {
    font-size: 100px;
    position: absolute;
    left: 200%;
    bottom: 0%;
    display: flex;
}

#main-container #science p {
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 30px;
    color: black;
    margin-right: 5%;
}

#main-container #science h2:hover {
    color: burlywood;
}


/* Goals 2020 */

.goals {
    display: flex;
    height: 100vh;
    background: url("../Pictures/Lightboard.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
}

.goals .max-width {
    margin: auto 0 auto 370px;
    bottom: 20%;
    position: fixed;
}

.goals .max-width h1 {
    font-size: 150px;
    transition: all 1 ease;
}

.goals .max-width h1:hover {
    color: orangered;
}

.container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

.container div {
    width: 100%;
    height: 100%;
}

.container .learner {
    position: sticky;
    top: 0;
    background: url("../Pictures/Predictions.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container .learner h2{
    display: flex;
    font-size: 60px;
    margin: auto 0 auto 0px;  
    color: aliceblue; 
    position: absolute;
    bottom: 45%;
    left: 5%;
    transition: all 1 ease;
}

.container .learner span {
    font-size: 100px;
    position: absolute;
    left: 110%;
    display: flex;
    bottom: -25%;
}

.container .learner p {
    display: flex;
    position: absolute;
    bottom: 35%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 38px;
    color: orange;
    margin-right: 5%;
}

.container .learner h2:hover {
    color: burlywood;
}

.container .thinker {
    position: sticky;
    top: 0;
    background: url("../Pictures/Predictions.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container .thinker h2{
    display: flex;
    font-size: 60px;
    margin: auto 0 auto 0px;  
    color: aliceblue; 
    position: absolute;
    bottom: 45%;
    left: 5%;
    transition: all 1 ease;
}

.container .thinker span {
    font-size: 100px;
    position: absolute;
    left: 110%;
    display: flex;
    bottom: -25%;
}


.container .thinker p {
    display: flex;
    position: absolute;
    bottom: 35%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 38px;
    color: orange;
    margin-right: 5%;
}

.container .thinker h2:hover {
    color: burlywood;
}

.container .worker {
    position: sticky;
    top: 0;
    background: url("../Pictures/Predictions.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container .worker h2{
    display: flex;
    font-size: 60px;
    margin: auto 0 auto 0px;  
    color: aliceblue; 
    position: absolute;
    bottom: 45%;
    left: 5%;
    transition: all 1 ease;
}

.container .worker span {
    font-size: 100px;
    position: absolute;
    left: 110%;
    display: flex;
    bottom: -25%;
}

.container .worker p {
    display: flex;
    position: absolute;
    bottom: 35%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 38px;
    color: orange;
    margin-right: 5%;
}

.container .worker h2:hover {
    color: burlywood;
}

.container .future {
    position: sticky;
    top: 0;
    background: url("../Pictures/Predictions.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.container .future h2{
    display: flex;
    font-size: 60px;
    margin: auto 0 auto 0px;  
    color: aliceblue; 
    position: absolute;
    bottom: 45%;
    left: 5%;
    transition: all 1 ease;
}

.container .future span {
    font-size: 100px;
    position: absolute;
    left: 110%;
    display: flex;
    bottom: -25%;
}

.container .future p {
    display: flex;
    position: absolute;
    bottom: 30%;
    left: 43%;
    margin: auto 0 auto 100px;
    font-size: 38px;
    color: orange;
    margin-right: 5%;
}

.container .future h2:hover {
    color: burlywood;
}

/* End Of Year Reflection */
.endofyear {
    display: flex;
    height: 100vh;
    background: url("../Pictures/eoyref.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.endofyear .max-width {
    margin: auto 0 auto 96px;
    position: fixed;
    bottom: 34%;
}

.endofyear .max-width h1 {
    font-size: 90px;
    transition: all 1.5s ease;
}

.endofyear .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background: url("../Pictures/divs-goals.jpeg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}


#main-container .endofyear p{
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 5%;
    right: 5%;
    margin: auto 0 auto 100px;
    font-size: 25px;
    color: black;
    margin-right: 5%;
    font-family: "Bebas Neue", sans-serif;
}

/* Remote Learning Journey */ 
.remlearning {
    display: flex;
    height: 100vh;
    background: url("../Pictures/sem1ref.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.remlearning .max-width {
    margin: auto 0 auto 96px;
    position: fixed;
    bottom: 30%;
}

.remlearning .max-width h1 {
    font-size: 80px;
    transition: all 1.5s ease;
}

.remlearning .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background: url("../Pictures/divs-goals.jpeg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}


#main-container .remlearning p{
    display: flex;
    position: absolute;
    bottom: 50%;
    left: 5%;
    right: 5%;
    margin: auto 0 auto 100px;
    font-size: 30px;
    color: black;
    margin-right: 5%;
    font-family: "Bebas Neue", sans-serif;
}

/* STEP Reflections */

.stepref {
    display: flex;
    height: 100vh;
    background: url("../Pictures/step-reflection.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.stepref .max-width {
    margin: auto 0 auto 96px;
    position: fixed;
    bottom: 40%;
    left: 12%;
}

.stepref .max-width h1 {
    font-size: 80px;
    transition: all 1.5s ease;
}

.stepref .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background: url("../Pictures/divs-goals.jpeg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}


#main-container .stepref p{
    display: flex;
    position: absolute;
    bottom: 55%;
    left: 5%;
    right: 5%;
    margin: auto 0 auto 100px;
    font-size: 30px;
    color: black;
    margin-right: 5%;
    font-family: "Bebas Neue", sans-serif;
}

/* Semester 1 Reflection */

.sem1 {
    display: flex;
    height: 100vh;
    background: url("../Pictures/sem1ref.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.sem1 .max-width {
    margin: auto 0 auto 96px;
    position: fixed;
    bottom: 38%;
    left: 8%;
}

.sem1 .max-width h1 {
    font-size: 70px;
    transition: all 1.5s ease;
}

.sem1 .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background: url("../Pictures/divs-goals.jpeg");
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}


#main-container .sem1 p{
    display: flex;
    position: absolute;
    bottom: 25%;
    left: 5%;
    right: 5%;
    margin: auto 0 auto 100px;
    font-size: 35px;
    color: black;
    margin-right: 5%;
    font-family: "Bebas Neue", sans-serif;
}

/* Personal Best */

.pbest {
    display: flex;
    height: 100vh;
    background: url("../Pictures/pbest.jpg");
    color: grey;
    min-height: 500px;
    font-family: 'Helvitica', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.pbest .max-width {
    margin: auto 0 auto 96px;
    position: fixed;
    bottom: 34%;
    left: 15%;
}

.pbest .max-width h1 {
    font-size: 90px;
    transition: all 1.5s ease;
}

.pbest .max-width h1:hover {
    color: red;
}

#main-container {
    font-family: 'Architects Daughter', sans-serif;
    width: 100%;
    height: 100vh;
}

#main-container div {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
    background: url("../Pictures/learningjdiv.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
}


#main-container .pbest p{
    display: flex;
    position: absolute;
    bottom: 14%;
    left: 5%;
    right: 5%;
    margin: auto 0 auto 100px;
    font-size: 40px;
    color: black;
    margin-right: 5%;
    font-family: "Bebas Neue", sans-serif;
}

